/* * { border: 1px solid red !important;} */
.main{
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 800px;
    position: relative;
}
.nav{
    background-color: #383737;
    width: 100%;
    height: 60px;
    position: relative;
}
.navbar{
    background-color: #383737;
    width: 500px ;
    height: 60px;
    position: absolute;
    left: 900px;
    display: flex;
    flex-direction: row;
    
}
#Resume{
    color: aliceblue;background-color: #f86f6f;width: 70px;height: 40px;border-radius: 50px;position: relative;left: 30px;top: 10px;
}
.mainp{
    color: aliceblue;font-family: 'Jersey 15';font-size: 25px;
}
#ab{
    color: aliceblue;font-family: 'Jersey 15';position: absolute;left:688px;text-decoration: #f86f6f underline;font-size: 75px;
}
#sk{
    color: aliceblue;font-family: 'Jersey 15';position: absolute;left:688px;text-decoration: #f86f6f underline;font-size: 75px;
}
#con{
    color: aliceblue;font-family: 'Jersey 15';position: absolute;left:688px;text-decoration: #f86f6f underline;font-size: 75px;
}
/* .newp{
    animation: slide 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0px -35px 0px 35px ;
    } */
/* } */
.newp:hover{
    color: #f86f6f;
 }
 #lin:hover{
    color: #0077B5;

}
#gi:hover{
    color:  aliceblue;
}
#insta:hover{
    background-image:linear-gradient( to bottom,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5) ;
}
#fac:hover{
    color: #3b5998;
}
#x:hover{
    color: aliceblue;
}

.link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: large;

}
a::before{
    color: aliceblue;
}
a:visited{
    color: aliceblue;
}
a:hover{
    color: #f86f6f;
}
/* a:active{
    color: aliceblue;
} */
#symbol{
    background-color: #f86f6f;
    color: aliceblue;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    position: relative;
    left: 20px;
    top: 10px;
    /* padding-right: 10px; */
    padding-top: 2px;
    padding-left: 5px;
    /* transition: transform 0.5s ease;
    transform: rotate(360deg); */
    font-size: large;
    font-family: 'Jersey 15';    border-radius: 250px;
} 
#name{
    /* background-color: #383737; */
    position: absolute;
    top: 250px;
    /* margin: auto;
    margin-top: 150px; */
    left: 525px;
    width: 500px;
    height: 300px;
}
/* i:hover{
    color: aliceblue;
} */
.syed{
    color: aliceblue;font-family: 'Jersey 15';font-size:80px;
}
.syed:hover{
    color: #f86f6f;
}
.mah{
    position: relative;
    top: -45px;
    color: #f86f6f;font-family: 'Jersey 15';font-size:80px;
}
.mah:hover{
    color: aliceblue;
}
#icons{
    height: 30px;
    width: 350px;
    /* border:1px #f86f6f solid; */
    position: relative;
    right: 298px;
    top: 112px;
    padding-top: -10px;
    
   
}
.about{
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 800px;
    position: relative;
    border-top: 1px #f86f6f solid;
    
}
.me{
    height: 400px;
    width: 775px;
    /* border: 1px #f86f6f solid ; */
    position: absolute;
    top: 170px; left: 420px;
}
.discr{
    /* border: 1px solid aliceblue; */
    height: 350px;
    width: 525px;
    color: aliceblue;
    position: relative;
    left: 250px;
    text-align: justify;
    font-size: 22.47px;
    /* font-family: 'Jersey 15' */
    
}
#sp{
    color: #f86f6f;
}
#sp:hover{
    color: #11d1dc;
}
.spa:hover{
    color: aliceblue;
}
.spa{
    color: #15cfde;
}
.discr:hover{
    color: #f86f6f;
}
#mine:hover{
    /* animation-name: pic;
    animation-duration: 3s;
    animation-direction: normal; */
    color: black;
    transition: transform 0.5s ease;
    transform: rotate(360deg);
    /* transition: filter 0.5s ease;
    filter: grayscale(100%); */
    
}
.skills{
    background-color:black;
    max-width: 100%;
    width: 100%;
    height: 800px;
    position: relative;
    border-top: 1px #f86f6f solid;
}
.sbox{
    height: 395px;width: 960px;
    background-color: aliceblue;
    position: absolute;
    border-radius: 50px;
    top: 170px;
    left: 281px;
}
.html{
    height: 100px;
    position: relative;
    top: 13px;left: 10px;
}
.html:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(228, 38, 38);
}
.css{
    height: 100px;position: relative;
    top: 13px;left: 20px;
    
}
.css:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(38, 152, 228);
}
.bootstrap{
    height: 100px;position: relative;
    top: 13px;left: 40px;
}
.bootstrap:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(48, 2, 113);
}
.javascript{
    height: 100px;position: relative;
    top: 13px;left: 60px;
}
.javascript:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(228, 177, 38);
}
.python{
    height: 100px;position: relative;
    top: 13px;left: 80px;
}
.python:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(7, 86, 132);
}
.django{
    height: 100px;position: relative;
    top: 13px;left: 100px;
}
.django:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(3, 250, 176);
}
.react{height: 100px;position: relative;
    top: 13px;left: 120px;
}
.react:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(41, 42, 42);
}
.c{
    height: 100px;position: relative;
    top: 13px;left: 130px;
}
.c:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(228, 76, 38);
}
.cpp{
    height: 100px;position: relative;
    top: 150px;right: 820px;
}
.cpp:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.java{
    height: 100px;position: relative;
    top: 50px;left: 120px;
}
.java:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(148, 97, 21);
}
.sql{
    height: 100px;position: relative;
    top: 50px;left: 140px;
}
.sql:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(185, 131, 37);
}
.vs{
    height: 100px;position: relative;
    top: 50px;left: 160px;
}
.vs:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(44, 9, 94);
}
.pc{
    height: 100px;position: relative;
    top: 50px;left: 180px;
}
.pc:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(70, 188, 64);
}
.git{
    height: 100px;position: relative;
    top: 50px;left: 200px;
}
.git:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(203, 70, 14);
}
.github{
    height: 100px;position: relative;
    top: 50px;left: 220px;
}
.github:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(16, 46, 135);
}
.discord{
    height: 100px;position: relative;
    top: 50px;left: 230px;
}
.discord:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(44, 20, 154);
}
.figma{
    height: 100px;position: relative;
    top: 180px;left: -300px;
}
.figma:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(148, 59, 21);
}
.contact{
    background-color: black;
    max-width: 100%;
    width: 100%;
    height: 800px;
    position: relative;
    border-top: 1px #f86f6f solid;
}
.cphoto{
    height: 450px;
    width: 450px;
    position: absolute;
    top: 140px;left: 350px;
    border:1px black solid;
    background-color: aliceblue;
    border-radius: 10px ;
}
.cform{
    background-color: aliceblue;
    position: absolute;
    top: 140px;left: 800px;
    border:1px black solid;
    border-radius: 10px;
    height: 450px;
    width: 450px;
}
.cname{
    /* font-size: 30px; */
    background-color: #11d1dc;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 25px;
    text-align: left;padding-left: 20px;direction: rtl;
}
.cmail{
    background-color: #11d1dc;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 25px;
    text-align: left;padding-left: 22px;direction: rtl;
}
.cno{
    background-color: #11d1dc;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 170px;
    left: 25px;
    text-align: left;padding-left: 22px;direction: rtl;
}
.cmess{
    background-color: #11d1dc;
    /* height: 50px; */
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 240px;
    left: 25px;
    text-align: left;padding-left: 23px;direction: rtl;

}
.sub{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 325px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    color: aliceblue;
    background-color:#67017a ;
}
footer{
    height: 210px;
    position: relative;
}
.footer1{
    position: absolute;
    right: 470px;
    bottom: 75px;
    font-size: 20px;
}
li{
    /* list-style-position: inside; */
}
li:hover{
    color: #f86f6f;
}
.footer2{
    position: absolute;
    left: 1210px;
    bottom: 123px;
    font-size: 20px;
}
